body{
    background-size: cover;
    text-align: center;

}

h3{
    background-image: linear-gradient(to right, blue, orangered);
    color: white;
    border-radius: 40px;
}

h3:hover{
    background-image: linear-gradient(to right, orangered, blue);
}

span{
    font-size: 14px;
}

canvas {
    border : 5px solid white;
    border-radius: 20px;
}